body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    aspect-ratio: 1 / 1.5;
    background-color: #212639;
    padding: 5px;
    border-radius: 4px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
    flex-basis: calc(30% - 20px);
    color: #F9FAF8;
    background-color: #1f1f1f;
    font-size: 36px;
    border: 2px, solid, #383838;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    margin: 2px;
    flex-basis: calc(25% - 4px);
    border-radius: 4px;
    aspect-ratio: 1 / 1;
}

.digit,
.plus-minus {
    color: #F9FAF8;
    background-color: #353A4E;
    font-size: 24px;
}

.clear-entry,
.clear,
.backspace,
.operator {
    color: #F9FAF8;
    background-color: #2D3245;
}

.clear-entry,
.clear,
.backspace {
    font-size: 16px;
}

.operator {
    font-size: 24px;
}

.equal-sign {
    color: #2D3245;
    background-color: #A8C8FB;
    font-size: 24px;
}