body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    aspect-ratio: 1 / 1.5;
    background-color: #212639;
}

.display {
    flex-basis: 30%;
    color: #F9FAF8;
    font-size: 36px;
    text-align: right;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    flex-basis: 25%;
}