body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    aspect-ratio: 1 / 1.5;
    background-color: #212639;
}

.display {
    flex-basis: 30%;
    color: #F9FAF8;
    font-size: 36px;
    text-align: right;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

button {
    margin: 2px;
    flex-basis: calc(25% - 4px);
}

.digit {
    color: #F9FAF8;
    background-color: #353A4E;
}

.clear-entry,
.clear,
.backspace,
.operator {
    color: #F9FAF8;
    background-color: #2D3245;
}

.evaluate {
    color: #2D3245;
    background-color: #A8C8FB;
}